---
import Container from "../../../components/Container.astro";
import DownloadHero from "../../../components/DownloadHero.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import PartialRestore from "../../../components/elements/PartialRestore.astro";
import HowToInstallAResoursePack from "../../../components/HowToInstallAResoursePack.astro";
import MinecraftVersionWarning from "../../../components/MinecraftVersionWarning.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Download There is no learning curve">
  <section>
    <DownloadHero map="There is no learning curve" />
    <Container>
      <PartialRestore />
      <MinecraftVersionWarning version="1.8" />
      <div class="w-1/3 my-10 p-8 bg-purple-200 rounded-2xl shadow-inner">
        <p class="m-0 text-clip uppercase text-center text-lg font-bold">
          <span class="block text-8xl font-semibold">3</span> player map
        </p>
      </div>

      <HowToInstallAResoursePack />
      <p>
        3 Player Cooperative Puzzle Map Note: Resource Pack Download Download
        Install Map Unzip map folder Insert unzipped map folder into your
        “.minecraft/saves/” folder or into your server folder and run it Play
        Map Download
      </p>
      <div class="flex gap-4">
        <ButtonRed
          to="http://adf.ly/6322968/tinlc-resource-pack"
          bodyText="Download resource pack"
        />
        <ButtonRed
          to="http://adf.ly/6322968/tinlc-map"
          bodyText="Download map"
        />
      </div>
      <p class="text-xs">*Links pass through adfly redirect</p>
    </Container>
  </section>
</Layout>
