---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="There is no learning curve 2">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">There is no learning curve 2</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />

       britishflag frenchflag germanflag Harold is Back! Harold is back and
      better than ever with another 8 puzzles that are guaranteed to push you to
      your intellectual limits. Before your team can enter the chambers of the
      original There is no Learning Curve, you must first prove your worth in
      Harold’s Candidature Aptitude Tests. This three-player cooperative puzzle
      experience will have you making music, solving sums, and dancing for your
      life in a series of mental challenges like nothing you’ve seen before!
      Puzzle your way through 8 distinct zones in order to prove to Harold you
      have the skills required to become a fully fledged test subject. This map
      is packed with puzzles and mini-games to keep your group entertained for
      more than 4 hours, topped off with one almighty final test to put you and
      your two friends through your paces. Does YOUR group have what it takes to
      pass your CATs? Or will you join Harold’s collection of failed subjects –
      doomed to resit your exams forever! 123456 Looking for a team? Want to
      play our maps but don't have a group of 3? Team up on Parallel and start
      playing! Find Teammates Download Map Download 90192 Downloads
    </Container>
  </section>
</Layout>
