---
import Container from "../../components/Container.astro";
import ButtonRed from "../../components/elements/ButtonRed.astro";
import UnderRepair from "../../components/elements/UnderRepair.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Maps">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Our maps</h1>
      <h1 class="text-5xl text-neutral-500">Download links</h1>

      <h2>Prismatic III</h2>
      <p>Note: Please play on Minecraft v1.10.2</p>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          to="http://adf.ly/6322968/prismatic-iii-map-v101"
        />
        <ButtonRed
          bodyText="Download Resource Pack"
          to="http://adf.ly/6322968/prismatic-iii-rp-v101"
        />
      </div>

      <h2>RogueQuest: Chronos and the Lantern of Souls</h2>
      <p>Note: Please play on Minecraft v1.10.2</p>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          to="http://adf.ly/6322968/roguequest-map-v12"
        />
        <ButtonRed
          bodyText="Download Resource pack"
          to="http://adf.ly/6322968/roguequest-rp-v10"
        />
      </div>
      <h2>Prismatic</h2>
      <p>Note: Play on Minecraft version 1.9</p>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          to="http://adf.ly/6322968/prismatic-v13"
        />
        <ButtonRed
          bodyText="Download Resource pack"
          to="http://adf.ly/6322968/prismatic-rp-v101"
        />
        <ButtonRed
          bodyText="Download Resource pack (Color-blind friendly)"
          to="http://adf.ly/6322968/prismatic-rp-colourblind-v101"
        />
      </div>
      <h2>There is no learning curve</h2>
      <p>Note: Please play on Minecraft v1.8</p>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          to="http://adf.ly/6322968/tinlc-map"
        />
        <ButtonRed
          bodyText="Download Resource pack"
          to="http://adf.ly/6322968/tinlc-resource-pack"
        />
      </div>
      <h2>There is no learning curve 2</h2>
      <p>Note: Please play on Minecraft v1.8</p>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          to="http://adf.ly/6322968/tinlc2-v11"
        />
        <ButtonRed
          bodyText="Download Resource pack"
          to="http://adf.ly/6322968/tinlc2-rp-en-v101"
        />
        <ButtonRed
          bodyText="下載資源包"
          to="http://adf.ly/6322968/tinlc2-chinese-v10"
        />
        <ButtonRed
          bodyText="Téléchargez le pack de ressources"
          to="http://adf.ly/6322968/tinlc2-rp-fr-v101"
        />
        <ButtonRed
          bodyText="DLataa Resurssipaketti"
          to="http://adf.ly/6322968/tinlc2-rp-su-v101"
        />
      </div>
      <h2>Workshop Wars: Christmas Edition</h2>
      <p>Play on Minecraft snapshot 15w47c</p>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download map"
          to="http://adf.ly/6322968/workshop-wars-v103"
        />
        <ButtonRed
          bodyText="Download resource pack"
          to="http://adf.ly/6322968/workshop-wars-rp-v10"
        />
      </div>
      <br />
      <UnderRepair />
      Prismatic III: The Dye Doors COLOUR, SOLVE, COLLECT. In this instalment of
      Prismatic, you must mix together the three primary colours to shade the complex
      in your favour; unlocking doors, opening up pathways and creating new unforeseen
      routes. Collect the nine beacons scattered around the chamber in order to escape.
      Download Now RogueQuest: Chronos & the Lantern of Souls Chaos is spreading
      from realm to realm, can you save Yakra from this evil? RogueQuest features
      rogue-like style game play, randomly generated dungeons, 4 unique characters
      each with a unique playstyle and storyline and can be played alone or with
      friends.. Download Map Prismatic prismatic Prismatic, a colour based puzzle
      map. A short single player adventure that will have you seeing rooms through
      a different light as you colour your way through the complex. There is now
      a colourblind-friendly resource pack now available for Prismatic! Download
      Now There is no Learning Curve 2 thereisnolearningcurve2 Harold is back and
      better than ever with another 8 puzzles that are guaranteed to push you to
      your intellectual limits. Before your team can enter the chambers of the original
      There is no Learning Curve, you must first prove your worth in Harold’s Candidature
      Aptitude Tests. Download Map There is no Learning Curve thereisnolearningcurve
      This puzzle/adventure map is a three player cooperative experience like no
      other. Decipher your way through more than 10 unique and stimulating chambers
      with more than 4 hours of gameplay. Manipulate water, iron and even time in
      order to progress under the supervision of your friendly host, Harold. Download
      Map Templars of Hyrule templarsofhyrule A 3 player cooperative adventure/puzzle
      map based on Nintendo’s The Legend of Zelda: Ocarina of Time. The golden goddesses
      have called upon three heroes to assist Link in restoring the peace. Embark
      on a new adventure of your own to stop Ganondorf’s evil forces from seizing
      Hyrule! Download Map Workshop Wars: Christmas Edition prismatic Christmas is
      just around the corner, and Santa still has loads of letters flying in! Split
      into two teams to see which bunch of elves can craft quickest in this wacky
      competitive multiplayer Minecraft minigame! Download Now Video Player RogueQuest
      Download Now
    </Container>
  </section>
</Layout>

<!-- 
<h2>Templars of Hyrule</h2>
<p>Note: Play on minecraft v1.8</p>
<div class="flex gap-4">
  <ButtonRed bodyText="Download Map" to="http://adf.ly/6322968/toh-map-v20" />
  <ButtonRed
    bodyText="Download Full Resource pack"
    to="http://adf.ly/6322968/toh-original-v20"
  />
  <ButtonRed
    bodyText="Download Full Resource pack"
    to="http://adf.ly/6322968/toh-original-v20"
  />
  <ButtonRed
    bodyText="Download streamer resource pack"
    to="http://adf.ly/6322968/toh-reorchestrated-v20"
  />
  <ButtonRed
    bodyText="Download no music resource pack"
    to="http://adf.ly/6322968/toh-resource-pack-no-music"
  />
</div> -->
