---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Download Prismatic">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Download Prismatic</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />

       Download ‘The Present Factory’ v1.0 An awesome map created by
      QwertyuiopThePie s Play on Minecraft version 1.9 s The resource pack is
      only required for additional players; it is built-in for single player and
      for world hosts. Install Resource Pack Download the resource pack (Note:
      Do NOT unzip) Load Minecraft Once in game, go to “Options”, then “Resource
      Packs” Click “Open Resource Pack Folder” button Paste the .zip file of the
      resource pack into this folder Close, and select the resource pack in
      Minecraft 'The Present Factory' Resource Pack Download 'The Present
      Factory' Map Download Install Map Unzip map folder Insert unzipped map
      folder into your “.minecraft/saves/” folder or into your server folder and
      run it Play
    </Container>
  </section>
</Layout>
