---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="The present factory">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">The present factory</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />
      Mental Block Gaming has hand-picked this map for your enjoyment. We think it’s
      incredible! The Present Factory Created by QwertyuiopThePie  The Present Factory
      In The Present Factory, it’s your job to construct a production line to a set
      specification using a variety of blocks with their own set mechanics. Twist,
      turn, push, pull, stack and compare in this ingenious sandbox puzzle game!
      These puzzles will require a logical brain to crack the algorithms and get
      the correct presents delivered safe and sound. What’s more, if you’ve always
      wanted to learn programming, this game might be a good place to start – and
      even if coding isn’t your thing, we know you’ll have fun playing with the incredible
      mechanics! With more than 20 levels to enjoy, this map will easily keep you
      entertained for 2-3 hours. If you get stuck, you and your friends can always
      put your heads together thanks to multiplayer compatibility! And if THAT still
      doesn’t help, there’s a useful hint-through built into the game so you aren’t
      left eternally scratching your head. What are you waiting for? Get building!
      Over 20 mind-boggling levels 2-3 hours of gameplay Build your own puzzles and
      challenge others Let’s Plays Logdotzip Logdotzip Logdotzip no_leaf_clover A
      word from the creator… Thanks for playing! Keep in mind that the difficulty
      level of this puzzle varies wildly from person to person. Some people find
      it easy, but most people require a lot of hints. Don’t be ashamed to use the
      ingame hint system! That’s why it’s there! I’d like to give credit to Wiskeyweasel
      for the build, NateT_Bird for the resource pack, and Panda4994 and RedstoneSpire
      for messing around with the system for hours on end to make things I didn’t
      know were possible. QwertyuiopThePie w See more information Visit Forum Post
      Download The Present Factory Download Map Downloads 7850
    </Container>
  </section>
</Layout>
