---
import Container from "../../components/Container.astro";
import ButtonRed from "../../components/elements/ButtonRed.astro";
import UnderRepair from "../../components/elements/UnderRepair.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prismatic III">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Prismatic III</h1>
      <UnderRepair />
      <p class="mt-10">Head to the maps page to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
    </Container>
  </section>
</Layout>
