---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Download Workshop wars: Christmas edition">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Download Workshop wars: Christmas edition</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />

       Download ‘Workshop Wars: Christmas Edition’ v1.0.3 Become one of Santa’s
      little helpers this Christmas. s Play on Minecraft snapshot 15w47c (How?)
      Install Resource Pack Download the resource pack (Note: Do NOT unzip) Load
      Minecraft Once in game, go to “Options”, then “Resource Packs” Click “Open
      Resource Pack Folder” button Paste the .zip file of the resource pack into
      this folder Close, and select the resource pack in Minecraft 'Workshop
      Wars: Christmas Edition' Resource Pack Download Install Map Unzip map
      folder Insert unzipped map folder into your “.minecraft/saves/” folder or
      into your server folder and run it Play 'Workshop Wars: Christmas Edition'
      Map Download s Play on Minecraft snapshot 15w47c (How?)
    </Container>
  </section>
</Layout>
