---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout
  title="Workshop wars: Christmas edition"
  description="Become one of Santa's little helpers this Christmas and race to craft Christmas presents in teams. Can you be the fastest at crafting?"
>
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Workshop wars: Christmas edition</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed
        to="/maps/workshopwarschristmasedition/download"
        bodyText="Downloads Page"
      />
      <UnderRepair />

      Workshop Wars: Christmas Edition Become One of Santa's Little Helpers This
      Christmas  Santa Needs Your Help! Sharpen your tools and brush up on your
      crafting – Christmas is just around the corner and Santa is recruiting new
      elves to make presents for all the world’s good boys and girls! In two
      teams, you elves will be pitted against each other in a race to craft
      Christmas presents before the other team. Read Santa’s letters to find out
      what a child wants, then gather, smelt and craft as fast as your jingling
      boots will let you! After five rounds of crafting madness, the winner is
      decided! Teams can be as large or as small as you want – all you need to
      play the game is two or more players. The fully integrated spectator mode
      means you can watch the flurry from afar without getting swept up in the
      blizzard! Let’s Play \ Screenshots Looking for a team? Want to play our
      maps but don't have a group of 3? Team up on Parallel and start playing!
      Find Teammates Download Workshop Wars: Christmas Edition Download Map 1057
      Downloads Credits The fantastic material we have used to make ‘Workshop
      Wars: Christmas Edition’ more enjoyable z 'Elves' Round 1 Music by
      Protocat z 'Sleigh Ride' Main Lobby Music by David Grossman z 'A Messy
      Kweznuz' Credits Music by CabbageClock z 'Snow!' Round 3 Music by
      Waterflame z 'Pivots Wish You A Merry Xmas' instructions Music by JappeJJ
      z 'Christmas Song' Spectator End Music by TwelfthChromatic z 'Dance of the
      Snowman' Victory Music by AceJackLind z 'Christmas Ice' Defeat Music by
      SolusLunes  Christmas Overhaul Resource Pack Selected resources used by
      C_is_CREATIVE z 'Achievement Jingle' Round End Music by Little Robot Sound
      Factory
    </Container>
  </section>
</Layout>
