---
import Container from "../../components/Container.astro";
import ButtonRed from "../../components/elements/ButtonRed.astro";
import UnderRepair from "../../components/elements/UnderRepair.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Download There is no learning curve">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Download There is no learning curve</h1>
      <p class="mt-10">Head to the maps page to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />

      Download There is no Learning Curve 3 Player Cooperative Puzzle Map Note:
      Please play on Minecraft v1.8 Resource Pack Download Download Install
      Resource Pack Download the resource pack (Note: Do NOT unzip) Load
      Minecraft Once in game, go to “Options”, then “Resource Packs” Click “Open
      Resource Pack Folder” button Paste the .zip file of the resource pack into
      this folder Close, and select the resource pack in Minecraft Install Map
      Unzip map folder Insert unzipped map folder into your “.minecraft/saves/”
      folder or into your server folder and run it Play Map Download
    </Container>
  </section>
</Layout>
