---
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Container from "../components/Container.astro";
import ButtonRed from "../components/elements/ButtonRed.astro";
import UnderRepair from "../components/elements/UnderRepair.astro";

import HomeHeroImage from "../assets/images/roguequest/portalgrab.png";
import Prismatic3Logo from "../assets/images/home/prismaticIIILogo.png";
---

<Layout title="Welcome to Astro.">
  <main>
    <!-- <h1>Welcome to <span class="text-gradient">Astro</span></h1> -->
    <Hero
      title="Mental Block Gaming"
      subtitle="Top notch minecraft maps"
      img={HomeHeroImage}
    />
    <Container>
      <h2 class="text-center">Minecraft Maps</h2>
      <div class="prismatic-animated-bg mb-6 shadow-lg">
        <Image class="mx-auto" src={Prismatic3Logo} alt="Prismatic III logo" />
      </div>
      <h3 class="text-center">COLOUR – SOLVE – COLLECT.</h3>
      <p>
        In this instalment of Prismatic, you must mix together the three primary
        colours to shade the complex in your favour; unlocking doors, opening up
        pathways and creating new unforeseen routes. Collect the nine beacons
        scattered around the chamber in order to escape.
      </p>
      <ButtonRed to="#" bodyText="more info" class="mx-auto">
        More Info
      </ButtonRed>
      <UnderRepair />
    </Container>

    <!-- RogueQuest: Chronos & the Lantern of Souls Prismatic - A colour based single
    player Minecraft puzzle map Chaos is spreading from realm to realm, can you
    save Yakra from this evil? RogueQuest features rogue-like style game play,
    randomly generated dungeons, 4 unique characters each with a unique
    playstyle and storyline and can be played alone or with friends.. Download
    Map Prismatic Prismatic - A colour based single player Minecraft puzzle map
    Prismatic, a colour based puzzle map. A short single player adventure that
    will have you seeing rooms through a different light as you colour your way
    through the complex. There is now a colourblind-friendly resource pack now
    available for Prismatic! Download Map There is no Learning Curve 2 There is
    no Learning Curve 2: Candidature Aptitude Tests Harold is back and better
    than ever with another 8 puzzles that are guaranteed to push you to your
    intellectual limits. Before your team can enter the chambers of the original
    There is no Learning Curve, you must first prove your worth in Harold’s
    Candidature Aptitude Tests. Download Map There is no Learning Curve There is
    no Learning Curve This puzzle/adventure map is a three player cooperative
    experience like no other. Decipher your way through more than 10 unique and
    stimulating chambers with more than 4 hours of gameplay. Manipulate water,
    iron and even time in order to progress under the supervision of your
    friendly host, Harold. Download Map More Maps from MBG Video Player
    RogueQuest Download Now Featured Minecraft Maps A showcase of some of the
    best Minecraft maps from the Minecraft community! Oscilight: The Light
    Shadow Oscilight: The Light Shadow - By Dwittyy Follow the philosophical
    narrative in this single-player puzzle map as you use a variety of lights,
    each with their own behaviours, to navigate each chamber and reach the end.
    By Dwittyy Download Map The Present Factory The Present Factory - By
    QwertyuiopThePie In The Present Factory, it’s your job to construct a
    production line to a set specification using a variety of blocks with their
    own set mechanics. Twist, turn, push, pull, stack and compare in this
    ingenious sandbox puzzle game! By QwertyuiopThePie Download Map Download Now
    From the Blog MBG’s Latest Venture: Ann Achronist, a time-travelling
    narrative adventure game! Oct 24, 2018 Adventure Start! Hey! Thanks for
    checking out the dev log! Every week I will be posting updates on the
    development of Ann Achronist so little by little you can see the game come
    to life for yourselves! First things first: Ann wandering 17th-century
    Alderdale Who is Ann Achronist? Ann Achronist finds herself in a fix: down
    and out, left with nothing, life has not been kind to her. But that all
    changes when she comes across a mystical ring, imbued with the power to
    travel to the past. Enter 17th century Alderdale, seek out your ancestors,
    and cause a ripple through time big enough to shake up your present. Pave
    the way to fortune, fame, and fortitude in this charming narrative
    adventure. – Encounter a host of delightful and dreadful Alderdalians whom
    you may entertain or infuriate at your will. There’s no need to fear the
    consequences: time (travel) is a great healer. – Your actions directly
    impact your future. Learn new skills and forge alliances to aid future trips
    to the past. – Not everything is as it seems: uncover the townspeople’s
    secrets to discover ulterior motives and hidden locations. Jump from
    timeline to timeline in order to carve out a better future for your
    ancestors, and — by extension — for yourself. When will the game be
    released? Release is slated for the final quarter of 2018. This all depends
    on how smoothly development goes and how much time any commissioned pieces
    take to finish, but that’s the rough estimate right now. Who are you? I’m
    Dan (or MaybeLaterx of Mental Block Gaming), a 25-year-old game designer cum
    programmer from England. I originally studied French and German at
    university before shifting my focus to game development. I’ve been
    developing games for 4 years now, starting with Minecraft redstone, to
    command blocks, to drag’n’drop code and beyond, and this will be my second
    big project made in Unity. Looking forward to sharing my progress with you!
    If you want to receive updates on Ann Achronist’s development, why not
    subscribe? Known Issues With RogueQuest v1.2 Sep 6, 2016 This up-to-date
    list of bugs in RogueQuest v1.2 will give you quick and easy instructions
    for bypassing areas that are currently unbeatable due to small errors. Feel
    free to favourite this page and check back before playing! read more… Get
    the skins for all playable characters in RogueQuest! Sep 5, 2016 If you’ve
    found yourself playing through RogueQuest and want to get a little more into
    character, feel free to download the skins of the playable characters and
    set them as your skin for each character playthrough! Be warned that there
    will be spoilers of unlockable characters below. download joel skin Download
    Joel Skin read more… Web Games Have a play on our newest addition to the
    site, browser games! Extreme Baller Extreme Baller Dodge enemies for as long
    as possible to rack up a huge score. How many points can you score before
    being smashed to smithereens? Coming Soon Coming Soon Coming Soon Coming
    Soon Coming Soon Coming Soon *these games require unity to play and will not
    work on chrome Blog MBG’s Latest Venture: Ann Achronist, a time-travelling
    narrative adventure game! Known Issues With RogueQuest v1.2 Get the skins
    for all playable characters in RogueQuest! Known Issues With RogueQuest v1.0
    Dev Log #15: Official RogueQuest Trailer!! Partners Parallel.team Flickz
    Join the Discord 8 PLAYERS ONLINE JOIN CHAT Newsletter First Name: Your
    first name Last Name: Your last name Email address: Your email address Maybe
    Later Games Check out our new video game studio, Maybe Later Games. Maybe
    Later Games Logo Home About Our Maps Featured Maps Servers Web Games
    Chemistry Blog Forums Donate -->
  </main>
</Layout>

<style>
  main {
    margin: auto;
    /* padding: 1.5rem; */
    /* max-width: 60ch; */
  }

  .prismatic-animated-bg {
    background: linear-gradient(
      269deg,
      #e10f0f,
      #e46611,
      #d0cc11,
      #4ab717,
      #14c194,
      #157add,
      #b815dd,
      #e010b0
    );
    background-size: 1600% 1600%;
    animation: prismaticBG 45s ease infinite;
  }

  @keyframes prismaticBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 51%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* // original styles */
  /* h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */
</style>
