---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ButtonRed from "../components/elements/ButtonRed.astro";
import UnderRepair from "../components/elements/UnderRepair.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Container>
      <h1 class="text-5xl text-neutral-500">Download links</h1>

      <h2>Prismatic III</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/prismatic-iii-map-v101"
        />
        <ButtonRed
          bodyText="Download Resourse Pack"
          href="http://adf.ly/6322968/prismatic-iii-rp-v101"
        />
      </div>

      <h2>RogueQuest: Chronos and the Lantern of Souls</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/roguequest-map-v12"
        />
        <ButtonRed
          bodyText="Download Reource pack"
          href="http://adf.ly/6322968/roguequest-rp-v10"
        />
      </div>
      <h2>Prismatic</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/prismatic-v13"
        />
        <ButtonRed
          bodyText="Download Reource pack"
          href="http://adf.ly/6322968/prismatic-rp-v101"
        />
        <ButtonRed
          bodyText="Download Reource pack (Color-blind friendly)"
          href="http://adf.ly/6322968/prismatic-rp-colourblind-v101"
        />
      </div>
      <h2>There is no learning curve</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/tinlc-map"
        />
        <ButtonRed
          bodyText="Download Reource pack"
          href="http://adf.ly/6322968/tinlc-resource-pack"
        />
      </div>
      <br />
      <UnderRepair />
    </Container>
  </main>
</Layout>
