---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ButtonRed from "../components/elements/ButtonRed.astro";
import UnderRepair from "../components/elements/UnderRepair.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Container>
      <h1 class="text-5xl text-neutral-500">Download links</h1>

      <h2>Prismatic III</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/prismatic-iii-map-v101"
        />
        <ButtonRed
          bodyText="Download Resource Pack"
          href="http://adf.ly/6322968/prismatic-iii-rp-v101"
        />
      </div>

      <h2>RogueQuest: Chronos and the Lantern of Souls</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/roguequest-map-v12"
        />
        <ButtonRed
          bodyText="Download Resource pack"
          href="http://adf.ly/6322968/roguequest-rp-v10"
        />
      </div>
      <h2>Prismatic</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/prismatic-v13"
        />
        <ButtonRed
          bodyText="Download Resource pack"
          href="http://adf.ly/6322968/prismatic-rp-v101"
        />
        <ButtonRed
          bodyText="Download Resource pack (Color-blind friendly)"
          href="http://adf.ly/6322968/prismatic-rp-colourblind-v101"
        />
      </div>
      <h2>There is no learning curve</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/tinlc-map"
        />
        <ButtonRed
          bodyText="Download Resource pack"
          href="http://adf.ly/6322968/tinlc-resource-pack"
        />
      </div>
      <h2>There is no learning curve 2</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download Map"
          href="http://adf.ly/6322968/tinlc2-v11"
        />
        <ButtonRed
          bodyText="Download Resource pack"
          href="http://adf.ly/6322968/tinlc2-rp-en-v101"
        />
        <ButtonRed
          bodyText="下載資源包"
          href="http://adf.ly/6322968/tinlc2-chinese-v10"
        />
        <ButtonRed
          bodyText="Téléchargez le pack de ressources"
          href="http://adf.ly/6322968/tinlc2-rp-fr-v101"
        />
        <ButtonRed
          bodyText="DLataa Resurssipaketti"
          href="http://adf.ly/6322968/tinlc2-rp-su-v101"
        />
      </div>
      <h2>Workshop Wars: Christmas Edition</h2>
      <div class="flex gap-4">
        <ButtonRed
          bodyText="Download map"
          href="http://adf.ly/6322968/workshop-wars-v103"
        />
        <ButtonRed
          bodyText="Download resource pack"
          href="http://adf.ly/6322968/workshop-wars-rp-v10"
        />
      </div>
      <br />
      <UnderRepair />
    </Container>
  </main>
</Layout>
<!-- 
<h2>Templars of Hyrule</h2>
<div class="flex gap-4">
  <ButtonRed bodyText="Download Map" href="http://adf.ly/6322968/toh-map-v20" />
  <ButtonRed
    bodyText="Download Full Resource pack"
    href="http://adf.ly/6322968/toh-original-v20"
  />
  <ButtonRed
    bodyText="Download Full Resource pack"
    href="http://adf.ly/6322968/toh-original-v20"
  />
  <ButtonRed
    bodyText="Download streamer resource pack"
    href="http://adf.ly/6322968/toh-reorchestrated-v20"
  />
  <ButtonRed
    bodyText="Download no music resource pack"
    href="http://adf.ly/6322968/toh-resource-pack-no-music"
  />
</div> -->
