---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import UnderRepair from "../components/elements/UnderRepair.astro";
---

<Layout title="RogueQuest Story">
  <main>
    <section>
      <Container>
        <h1 class="text-3xl mb-8">RogueQuest Story</h1>
        <UnderRepair />
      </Container>
    </section>
  </main>
</Layout>
