---
const { frontmatter } = Astro.props;
---

<div class="flex gap-3 capitalize">
  <a href="/blog">blog</a>
  <span> /</span>
  <a href={"/blog/" + frontmatter.category}>{frontmatter.category}</a>
</div>

<style>
  a {
    @apply text-red-600;
  }
  span {
    @apply text-neutral-300;
  }
</style>
