---
import HelpAccordion from "./elements/HelpAccordion.astro";
import HelpLink from "./elements/HelpLink.astro";
---

<HelpAccordion title="How do I install a map?">
  <ol>
    <li>Unzip map folder</li>
    <li>
      Insert <strong>unzipped</strong> map folder into your “.minecraft/saves/” folder
      or into your server folder
    </li>
    <li>This completes map installation</li>
  </ol>
  <!-- <div class="px-2"> -->
  <p class="mb-2 text-xs">Detailed instructions</p>
  <HelpLink
    title="How to Download and Install Minecraft Maps"
    url="https://www.makeuseof.com/how-to-download-install-minecraft-maps/"
  />
  <!-- </div> -->
</HelpAccordion>
<HelpAccordion title="How do I install a resource pack?">
  <ol>
    <li>Download the resource pack (Note: Do NOT unzip)</li>
    <li>Load Minecraft</li>
    <li>Once in game, go to “Options”, then “Resource Packs”</li>
    <li>Click “Open Resource Pack Folder” button</li>
    <li>Paste the .zip file of the resource pack into this folder</li>
    <li>Close, and select the resource pack in Minecraft</li>
  </ol>
  <p class="mb-2 text-xs">Detailed instructions</p>
  <HelpLink
    title="Tutorials: Loading a resource pack"
    url="https://minecraft.fandom.com/wiki/Tutorials/Loading_a_resource_pack"
  />
  <HelpLink
    title="How To Download & Install Resource Packs in Minecraft (2023)"
    url="https://www.youtube.com/watch?v=wBoI5UbYxbE"
  />
</HelpAccordion>
<HelpAccordion title="How do I enable 'command blocks'?">
  <p class="mb-8 mx-8 text-neutral-800 text-lg leading-8">
    Please look at the link below or google for instructions on how to do it for
    your minecraft hosting company.
  </p>

  <p class="mb-2 text-xs">Detailed instructions</p>
  <HelpLink
    title="How To Enable Command Blocks"
    url="https://www.digminecraft.com/game_commands/enable_command_blocks.php"
  />
</HelpAccordion>
<HelpAccordion title="How do I change my minecraft version?">
  <p class="mb-8 mx-8 text-neutral-800 text-lg leading-8">
    Please follow the links for detailed instructions on how to change your
    minecraft version
  </p>
  <p class="mb-2 text-xs">Detailed instructions</p>
  <HelpLink
    title="How to Change Your Minecraft Client Version on Java Edition"
    url="https://shockbyte.com/billing/knowledgebase/189/How-to-Change-Your-Minecraft-Client-Version-on-Java-Edition.html"
  />
  <HelpLink
    title="OFFICIAL Convert World between Bedrock & Java Minecraft"
    url="https://www.youtube.com/watch?v=fmIuzDWIwL8"
  />
</HelpAccordion>
<HelpAccordion title="How do I play on a snapshot version?">
  <p class="mb-8 mx-8 text-neutral-800 text-lg leading-8">
    Please follow the links below for detailed instructions on how to change
    your minecraft version
  </p>
  <p class="mb-2 text-xs">Detailed instructions</p>
  <HelpLink
    title="Tutorials: Installing and using a snapshot"
    url="https://minecraft.fandom.com/wiki/Tutorials/Installing_a_snapshot"
  />
  <HelpLink
    title="OFFICIAL Convert World between Bedrock & Java Minecraft"
    url="https://www.youtube.com/watch?v=fmIuzDWIwL8"
  />
</HelpAccordion>
<!-- 
<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="install-rp" />
    <label class="tab-label" for="install-rp"
      >How do I install a resource pack?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="enable-cb" />
    <label class="tab-label" for="enable-cb"
      >How do I enable 'command blocks'?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="mc-version" />
    <label class="tab-label" for="mc-version"
      >How do I change my minecraft version?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="mc-snapshot" />
    <label class="tab-label" for="mc-snapshot"
      >How do I play on a snapshot version?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div> -->

<style>
  ol {
    @apply mx-16 mb-8;
  }
  ol li {
    @apply list-item list-decimal my-2 text-lg;
  }
</style>
