---
import HelpAccordion from "./elements/HelpAccordion.astro";
import HelpLink from "./elements/HelpLink.astro";
---

<HelpAccordion title="How do I install a map">
  <ul class="mx-8 mb-8">
    <ol class="list-item list-decimal">Unzip map folder</ol>
    <ol class="list-item list-decimal">
      Insert <strong>unzipped</strong> map folder into your “.minecraft/saves/” folder
      or into your server folder
    </ol>
    <ol class="list-item list-decimal">This completes map installation</ol>
  </ul>
  <!-- <div class="px-2"> -->
  <p class="mb-2 text-xs">Detailed instructions</p>
  <HelpLink
    title="How to Download and Install Minecraft Maps"
    url="https://www.makeuseof.com/how-to-download-install-minecraft-maps/"
  />
  <!-- </div> -->
</HelpAccordion>
<HelpAccordion title="How do I install a resource pack?">
  Content will be added shortly
</HelpAccordion>
<HelpAccordion title="How do I enable 'command blocks'?">
  Content will be added shortly
</HelpAccordion>
<HelpAccordion title="How do I change my minecraft version?">
  Content will be added shortly
</HelpAccordion>
<HelpAccordion title="How do I play on a snapshot version?">
  Content will be added shortly
</HelpAccordion>
<!-- 
<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="install-rp" />
    <label class="tab-label" for="install-rp"
      >How do I install a resource pack?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="enable-cb" />
    <label class="tab-label" for="enable-cb"
      >How do I enable 'command blocks'?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="mc-version" />
    <label class="tab-label" for="mc-version"
      >How do I change my minecraft version?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="mc-snapshot" />
    <label class="tab-label" for="mc-snapshot"
      >How do I play on a snapshot version?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div> -->

<style>
  ol {
    @apply my-2 text-lg;
  }
</style>
