---
import HelpAccordion from "./elements/HelpAccordion.astro";
---

<HelpAccordion title="How do I install a map">
  <ul class="mx-8 mb-8">
    <ol class="list-item list-decimal">Unzip map folder</ol>
    <ol class="list-item list-decimal">
      Insert <strong>unzipped</strong> map folder into your “.minecraft/saves/” folder
      or into your server folder
    </ol>
    <ol class="list-item list-decimal">This completes map installation</ol>
  </ul>
  <div class="px-2">
    <p class="mb-2 text-xs">Detailed instructions</p>
    <a
      class="relative bg-neutral-300/50 hover:bg-neutral-300/75 p-5 px-6 block rounded-md border-b-2 border-neutral-300/75"
      href="https://www.makeuseof.com/how-to-download-install-minecraft-maps/"
      target="_blank"
    >
      <p class="text-lg text-neutral-600 mb-1">
        How to Download and Install Minecraft Maps
      </p>
      <p class="text-xs text-neutral-500/75 mb-0">
        makeuseof.com/how-to-download-install-minecraft-maps
      </p>
      <span class="absolute top-4 right-4">🔗</span>
    </a>
  </div>
</HelpAccordion>

<HelpAccordion title="How do I install a resource pack?">
  Content will be added shortly
</HelpAccordion>
<HelpAccordion title="How do I enable 'command blocks'?">
  Content will be added shortly
</HelpAccordion>
<HelpAccordion title="How do I change my minecraft version?">
  Content will be added shortly
</HelpAccordion>
<HelpAccordion title="How do I play on a snapshot version?">
  Content will be added shortly
</HelpAccordion>
<!-- 
<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="install-rp" />
    <label class="tab-label" for="install-rp"
      >How do I install a resource pack?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="enable-cb" />
    <label class="tab-label" for="enable-cb"
      >How do I enable 'command blocks'?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="mc-version" />
    <label class="tab-label" for="mc-version"
      >How do I change my minecraft version?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab">
    <input type="checkbox" id="mc-snapshot" />
    <label class="tab-label" for="mc-snapshot"
      >How do I play on a snapshot version?</label
    >
    <div class="tab-content">
      <div class="p-4 pb-8">
        Instructions will be included in the next 24hours
      </div>
    </div>
  </div>
</div> -->
