---
import Container from "./Container.astro";
import UnderRepair from "./elements/UnderRepair.astro";
---

<footer class="bg-[#222] text-sm">
  <Container>
    <p>Maybe Later Games</p>
    <p>
      Check out our new video game studio, <a
        href="https://maybelatergames.co.uk">Maybe Later Games.</a
      >
    </p>
  </Container>

  <div class="container clearfix">
    <ul class="et-social-icons">
      <li class="et-social-icon et-social-facebook">
        <a
          href="https://web.archive.org/web/20210228000815/https://facebook.com/MentalBlockGaming"
          class="icon"
        >
          <span>Discord</span>
        </a>
      </li>
    </ul>
    <p id="footer-info">
      Designed with love | Powered by <a href="https://astro.build">AstroJS</a>
    </p>
  </div>
</footer>
