---
import Container from "./Container.astro";
import UnderRepair from "./elements/UnderRepair.astro";
---

<footer class="bg-[#222]">
  <Container>
    <p>Maybe Later Games</p>
    <p>
      Check out our new video game studio, <a
        href="https://maybelatergames.co.uk">Maybe Later Games.</a
      >
    </p>
  </Container>
</footer>
