---
export interface Props {
  title: string;
  subtitle: string;
  img: ImageMetadata;
}

const { title, subtitle, img } = Astro.props;
const bgImgString = `url('${img.src}')`;
---

<div class="hero w-full flex flex-col justify-center items-center">
  <h1 class="text-white text-6xl capitalize m-5 text-center">{title}</h1>
  <p class="text-white text-2xl text-center">{subtitle}</p>
</div>

<style define:vars={{ bgImgString }}>
  .hero {
    height: calc(100svh - 96px);
    background-image: var(--bgImgString);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
