---
import heroImage from "../images/portalgrab.png";
---

<div class="hero w-full flex flex-col justify-center items-center">
    <h1 class="text-white text-6xl capitalize m-5">mental block gaming</h1>
    <p class="text-white text-2xl">Top notch minecraft maps</p>
</div>

<style>
  .hero {
    height: calc(100svh - 96px) ;
    background-image: url('../images/portalgrab.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
