---
import heroImage from "../images/portalgrab.png";
---

<div class="hero w-full flex justify-center items-center">
    <h1 class="text-white text-6xl capitalize">mental block gaming</h1>
</div>

<style>
  .hero {
    height: calc(100svh - 96px) ;
    background-image: url('../images/portalgrab.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
