<div>
  <ul>
    <li>Download the resource pack (Note: Do NOT unzip)</li>
    <li>Load Minecraft</li>
    <li>
      Install Resource Pack Once in game, go to “Options”, then “Resource Packs”
      Click
    </li>
    <li>
      “Open Resource Pack Folder” button Paste the .zip file of the resource
      pack int this folder
    </li>
    <li>Close, and select the resource pack in Minecraft</li>
  </ul>
</div>
