---
import logo from "../images/logo.png";
---

<div class="position fixed top-0 w-full flex justify-between items-center h-24 px-5 pr-10 bg-white bg-opacity-80 backdrop-blur-xl">
  <div class="flex place-items-center gap-5">
    <img src={logo} class="block aspect-square w-14 h-14" />
    <h1>mentalblockgaming</h1>
  </div>
  <div>
    <ul class="flex gap-6 text-sm capitalize">
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/maps">maps</a></li>
      <li><a href="/chemistry">chemistry</a></li>
    </ul>
  </div>
</div>
