---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";

const title = "Prismatic III: The Dye Doors";
const description =
  "COLOUR, SOLVE, COLLECT. Mix together the 3 primary colours to shade the complex in your favour; unlocking doors, opening up pathways and creating new unforeseen routes.";
---

<Layout title={title} description={description}>
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Prismatic III</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps/prismatic3/download" bodyText="Downloads Page" />
      <UnderRepair />

      Colourblind-friendly resource pack  COLOUR, SOLVE, COLLECT In this
      instalment of Prismatic, you must mix together the three primary colours
      to shade the complex in your favour; unlocking doors, opening up pathways
      and creating new unforeseen routes. Collect the nine beacons scattered
      around the chamber in order to escape. “But wait,” you ask, “what happened
      to Prismatic II?!” Fear not: Prismatic II is currently in development and
      will be released in the coming months, so stay tuned! Prismatic III -
      Chamber 1 Prismatic III - Chamber 2 Prismatic III - Chamber 2 Prismatic
      III - Chamber 1 Prismatic III - Chamber 1 Prismatic III - Chamber 1
      Download Prismatic III Download Map 4310 Prismatic III Downloads
    </Container>
  </section>
</Layout>
