---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import PartialRestore from "../../../components/elements/PartialRestore.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout
  title="RogueQuest"
  description="RogueQuest: Chronos and the latern of souls"
>
  <section>
    <PartialRestore />
    <Container>
      <h1 class="text-4xl mb-8">RogueQuest: Chronos and the latern of souls</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps/roguequest/download" bodyText="Downloads Page" />
      <UnderRepair />

      Unravel the mystery of why darkness is taking over the land. Can you purge
      the realms of the unspeakable evil within and make Lycia safe once more?
      Four Unique Classes Discover and play as four unique characters each with
      their own story line. Unlock and master four unique play styles each with
      their own individual upgrades. Download RogueQuest Download Map 9397
      Downloads
    </Container>
  </section>
</Layout>
