---
import { log } from "astro/dist/core/logger/core";

export interface Props {
  to: string;
  bodyText: string;
  class?: string;
  fill?: boolean;
  color?: string;
}

const { to, bodyText, class: className, fill, color } = Astro.props;

let additionalClass = "";
if (fill) {
  additionalClass = "fill";
}

let classColor = "red";
if (color) {
  classColor = color;
}
---

<a class={className + " " + classColor + " " + additionalClass} href={to}>
  {bodyText}
</a>

<style lang="scss">
  a {
    @apply border-[2px] rounded-[3px] text-lg  my-2 px-4 py-2.5 capitalize inline-block duration-150;

    &.red {
      @apply border-red-600 text-red-600;
    }

    &.purple {
      @apply border-purple-600 text-purple-500;
    }

    &.orange {
      @apply border-orange-400 text-orange-400;
    }
    &.amber {
      @apply border-amber-500 text-amber-500;
    }
  }

  a:hover {
    // @apply -translate-y-1 shadow-md;
    @apply text-white;
    &.red {
      @apply bg-red-600;
    }

    &.purple {
      @apply bg-purple-600;
    }

    &.orange {
      @apply bg-orange-400 shadow-md;
    }

    &.amber {
      @apply bg-amber-500;
    }
  }

  a.fill {
    @apply ease-in-out duration-500 text-white;
    &.red {
      @apply bg-red-700 shadow-md border-red-700;
    }

    &.purple {
      @apply bg-purple-600;
    }
  }

  a.fill:hover {
    @apply -translate-y-0 scale-[1.1] shadow-md duration-150;
    &.red {
      @apply bg-red-600 border-red-600;
    }

    &.purple {
      @apply bg-purple-600 border-purple-600;
    }
  }
</style>
