<div
  class="relative flex flex-col bg-neutral-200 p-16 rounded-sm w-1/2 text-center"
>
  <p class="block text-7xl font-light">130,000</p>
  <p class="block m-0 uppercase font-bold">downloads</p>
</div>
