<div class="bg-opacity-75">
  <a href="#setupguide"
    ><p class="m-0 text-red-600 py-1">How do I install a map?</p></a
  >
  <a href="#setupguide"
    ><p class="m-0 text-red-600 py-1">How do I install a resource pack?</p></a
  >
  <a href="#setupguide"
    ><p class="m-0 text-red-600 py-1">How do I enable 'Command Blocks'?</p></a
  >
  <a href="#setupguide"
    ><p class="m-0 text-red-600 py-1">
      How do I change my minecraft version?
    </p></a
  >
  <a href="#setupguide"
    ><p class="m-0 text-red-600 py-1">
      How do I play on a snapshot version?
    </p></a
  >
</div>
