<div>
  <p
    class="bg-amber-500 text-sm p-3 rounded-sm shadow-md text-white font-medium text-center m-0"
  >
    This webpage content has been restored. We are working to repair the design.
  </p>
</div>
