---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import Container from "../components/Container.astro";
import { formatCategory } from "../utils/formatCategory";
import Layout from "./Layout.astro";
export interface Props {
  title: string;
  description: string;
  categories: string[];
}

const allPosts = await getCollection("blog");
const allCategoriesArray: string[] = [];
allPosts.forEach((post) => {
  allCategoriesArray.push(post.data.category);
});
const allCatFlat = allCategoriesArray.flat();

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="md:flex max-w-7xl mx-8 md:mx-auto gap-16">
    <main class="md:w-2/3">
      <section>
        <!-- <Container> -->
        <!-- <BlogAdvert /> -->

        <slot />
        <!-- </Container> -->
      </section>
    </main>
    <aside class="md: w-1/3 py-10">
      <p class="font-head text-2xl mt-12">Categories</p>
      {
        allCatFlat.map((cat) => (
          <a href="">
            <p class="text-base">{formatCategory(cat)}</p>
          </a>
        ))
      }
    </aside>
  </div>
</Layout>

<style></style>
