---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
export interface Props {
  title: string;
  description: string;
}
import { SimpleAnalytics } from "astro-analytics";

let { title, description } = Astro.props;
if (title.includes("Mental Block Gaming")) {
  console.log("Fix title for page: '" + title + "'");
}
if (title !== "Home") {
  title = title + " - Mental Block Gaming";
} else {
  title = "Mental Block Gaming";
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- simple analytics -->
    <script
      is:inline
      async
      defer
      src="https://simple.mentalblockgaming.com/latest.js"
    ></script>
    <noscript
      ><img
        src="https://simple.mentalblockgaming.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      /></noscript
    >
    <!-- ads -->
    <!-- <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5393590966220416"
    crossorigin="anonymous"
  ></script> -->
    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/prb8pdz.css" />
  </head>
  <body class="pt-32">
    <Navigation />
    <slot />
    <Footer />
  </body>
  <!-- <SimpleAnalytics /> -->
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: new-hero, system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  main {
    margin: auto;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-head;
  }

  h2 {
    /* font-family: aktiv-grotesk, sans-serif; */
    @apply text-3xl font-light text-neutral-500 mt-4 mb-8;
  }

  h3 {
    @apply mb-5 text-2xl text-neutral-500 font-light;
  }

  p {
    @apply my-3 text-neutral-600 leading-7;
  }

  a {
    @apply text-red-600;
  }

  h3 {
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
