---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Download Prismatic">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Download Prismatic</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />

       Download ‘Oscilight’ v4.1 An awesome map created by Dwittyy s Play on
      Minecraft version 1.9 s Turn clouds off s Turn ‘Friendly Creatures’ sounds
      off s Ensure language is set to English-UK or English-US Install Map Unzip
      map folder Insert unzipped map folder into your “.minecraft/saves/” folder
      or into your server folder and run it Play Oscilight Map Download
      Promotional Images Visit Page Oscilight Promotional Images Here are some
      promotional images for you to use when creating Let’s Plays. Images
      include the logo and screenshots from inside the game.
    </Container>
  </section>
</Layout>
