---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
import PartialRestore from "../../../components/elements/PartialRestore.astro";
import InstallationHelp from "../../../components/DownloadInstructions.astro";
import MinecraftVersionWarning from "../../../components/MinecraftVersionWarning.astro";

import DownloadHero from "../../../components/DownloadHero.astro";
import DownloadList from "../../../components/DownloadList.astro";
import EnableCommandBlocks from "../../../components/elements/EnableCommandBlocks.astro";
import PlayersRequired from "../../../components/elements/PlayersRequired.astro";
import DownloadSidebarHelpLinks from "../../../components/elements/DownloadSidebarHelpLinks.astro";

const maps = {
  title: "Map",
  file: {
    name: "Oscilight: The Light Shadow - Map",
    text: "English",
    url: "http://www.mediafire.com/file/bdtc99ol544cv0a/Oscilight_-_The_Light_Shadow_V4.1_for_MC1.9.zip/file",
  },
};
---

<Layout
  title="Download Oscilight: The Light Shadow"
  description="Download the map files for 'Oscilight: The Light Shadow'"
>
  <section>
    <DownloadHero map="Oscilight: The Light Shadow" />
    <Container>
      <h2 class="mb-8 mt-10">Requirements</h2>
      <div class="flex gap-10">
        <div class="w-2/3">
          <MinecraftVersionWarning version="1.9" />
          <PlayersRequired number="1" />
          <EnableCommandBlocks />
          <p>Turn clouds off</p>
          <p>Turn ‘Friendly Creatures’ sounds off</p>
          <p>Ensure language is set to English-UK or English-US</p>

          <h2 class="mt-16">Files</h2>
          <DownloadList downloadList={maps} />
          <h2 class="mt-16" id="setupguide">Setup guidance</h2>
          <InstallationHelp />
        </div>
        <aside class="w-1/3">
          <div class="bg-neutral-200 aspect-square mb-8">
            <!-- <ins
              class="adsbygoogle"
              style="display:block"
              data-ad-client="ca-pub-5393590966220416"
              data-ad-slot="3886960845"
              data-ad-format="auto"
              data-full-width-responsive="true"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script> -->
          </div>
          <!-- <div class="w-full my-8 p-8 bg-purple-200 rounded-2xl shadow-inner">
              <p class="m-0 text-clip uppercase text-center text-lg font-bold">
                <span class="block text-8xl font-semibold">3</span> player map
              </p>
            </div> -->
          <h3 class="mb-2 mt-20 text-xl text-neutral-500">Help</h3>
          <DownloadSidebarHelpLinks />
        </aside>

        <!-- <Container>
      <h1 class="text-4xl mb-8">Download There is no learning curve 2</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />

      Note: Please play on Minecraft v1.8 Install Resource Pack Download the
      resource pack (Note: Do NOT unzip) Load Minecraft Once in game, go to
      “Options”, then “Resource Packs” Click “Open Resource Pack Folder” button
      Paste the .zip file of the resource pack into this folder Close, and
      select the resource pack in Minecraft Resource Pack Download Download
      Téléchargez le pack de ressources Téléchargez 下載資源包 下載點 Lataa
      Resurssipaketti Lataa Install Map Unzip map folder Insert unzipped map
      folder into your “.minecraft/saves/” folder or into your server folder and
      run it Play Map Download Download s Note: Please play on Minecraft v1.8
    </Container> -->
      </div>
    </Container>
  </section>
</Layout>

<style>
  h2::before {
    content: "";
    display: block;
    height: 200px;
    margin-top: -200px;
    visibility: hidden;
  }
</style>

<!-- http://www.mediafire.com/file/bdtc99ol544cv0a/Oscilight_-_The_Light_Shadow_V4.1_for_MC1.9.zip/file -->
