---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Oscilight: The light shadow">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Oscilight: The light shadow</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps/oscilight/download" bodyText="Download oscilight" />
      <UnderRepair />
      Mental Block Gaming has hand-picked this map for your enjoyment. We think it’s
      incredible! Oscilight - The Light Shadow Created by Dwittyy  ‘Where there
      is light, there is a shadow’ Oscilight: The Light Shadow Follow the philosophical
      narrative in this single-player puzzle map as you use a variety of lights,
      each with their own behaviours, to navigate each chamber and reach the end.
      Pair up with your shadow, working in harmony to complete over 50 unique and
      challenging levels that will have you playing for hours! Over 50 mind-bending
      puzzles Never seen before mechanics An intriguing philosophical narrative Let’s
      Plays Vikkstar123HD Vikkstar123HD Vikkstar123HD OakleyB73 A word from the creator…
      My name is Dwittyy, and I spent 6 months on this map alone and over a year
      building upon the mechanic of ‘lights’. If you found bugs, liked or disliked
      the map, or want to share any videos, please leave a reply on this thread.
      Constructive criticism is warmly welcomed! YouTubers: please link the thread
      in the video description. Thanks for playing! And thanks to CaffeineBoost for
      the 6 Bonus levels! Dwittyy w See more information Visit Forum Post Download
      Oscilight Download Map Downloads5292
    </Container>
  </section>
</Layout>
