---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Download Prismatic">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Download Prismatic</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />

       Download ‘Prismatic’ v1.3 Our first single player puzzle map! s Play on
      Minecraft version 1.9 (How?) s We recommend that YouTubers use the
      colourblind-friendly resource pack Install Resource Pack Download the
      resource pack (Note: Do NOT unzip) Load Minecraft Once in game, go to
      “Options”, then “Resource Packs” Click “Open Resource Pack Folder” button
      Paste the .zip file of the resource pack into this folder Close, and
      select the resource pack in Minecraft Prismatic Original Resource Pack
      Download Colourblind-Friendly Resource Pack Download Install Map Unzip map
      folder Insert unzipped map folder into your “.minecraft/saves/” folder or
      into your server folder and run it Play Prismatic Map Download s Play on
      Minecraft version 1.9 (How?)
    </Container>
  </section>
</Layout>
