---
import Container from "../../../components/Container.astro";
import ButtonRed from "../../../components/elements/ButtonRed.astro";
import UnderRepair from "../../../components/elements/UnderRepair.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Prismatic">
  <section>
    <Container>
      <h1 class="text-4xl mb-8">Prismatic</h1>
      <p class="mt-10">Follow the link below to download this map</p>
      <ButtonRed to="/maps" bodyText="Downloads Page" />
      <UnderRepair />
      Prismatic *Colourblind-friendly resource pack available  Prismatic Prismatic,
      a colour based Minecraft puzzle map. Prismatic is a short single player adventure
      that will have you seeing rooms through a different light as you colour your
      way through the complex. Transform different chambers using coloured glass
      to manipulate your surroundings and escape. Prismatic Trailer Prismatic Screenshots
      Screenshot 1 Screenshot 4 Screenshot 7 Screenshot 2 Screenshot 5 Screenshot
      8 Screenshot 3 Screenshot 6 Screenshot 9 Let’s Play SSundee CaptainSparklez
      Now Colourblind-Friendly! Prismatic - Colourblind Resource Pack Brand New Colourblind
      Resource Pack! After Prismatic’s overwhelming popularity we decided to go ahead
      with our early instinct to implement a colourblind-friendly version of the
      map resulting in a separate resource pack for colourblind players. We’ve altered
      the map to make all the colours recognisable through symbols. We want you to
      be able to play and enjoy the map just as anyone else would. We’d love to hear
      your feedback on the forums. w Stuck? Ask for help on our forums. Or just looking
      to chat? Come join the discussion. Head to Forums Download Prismatic Download
      Map 23981 Downloads
    </Container>
  </section>
</Layout>
